.dart_tool/
.packages
build/
android/local.properties
android/.gradle/
**/.gradle/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# Release signing secrets
android/key.properties
*.jks
*.keystore
android/app/*.jks
